body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
    font-size: .875rem;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #222;
}

a:hover {
    text-decoration: underline;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .6em;
    color: #222;
    margin-bottom: 8em;
}

ul {
    display: flex;
    list-style: none;
    padding: 0
}

.left-header {
    width: 20%;
}
.right-header {
    width: 80%;
    flex-wrap: nowrap;
}

.right-header ul {
    justify-content: flex-end;
    align-items: center;
}
li {
    padding-left: .6rem;
}

.profile-pic{
    border-radius: 50%; 
    width: 2.25em; 
    height: 2.25em;
}

.logo {
    margin: 0 auto;
    display: block;
    width: 272px;
}
.search {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    width: 45%;
}

.search-bar-contatiner{
    display: flex;
    align-items: center;
    border: 1px solid #dfe1e5;
    border-radius: 26px;
    width: 90%;
    margin: 2em auto;
    padding-left: .75em;
    height: 3em;
}

.search-bar-contatiner:hover{
    box-shadow: 2px 2px 5px #dfe1e5;
}

.text-input-container{
    background: none;
    width: 90%;
}

.text-input-container input {
    width: 100%;
    min-width: 0;
    border: 0;
    background: none;
}

.search-icon{
    width: 1.25em;
    margin-right: .775em;
}

.button-container {
    display: flex;
    align-self: center;
    justify-content: space-between;
}

.button-container button {
    border: none;
    background-color: #f8f9fa;
    font-size: 1em;
    color: #3c4043;
    margin-right: 1em;
    padding: .9em;
    cursor: pointer;
    
}

.button-container button:hover {
    border: 1px solid #cfc9c9;
    border-radius: 5px;
    text-decoration: none;
}

.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    background: #f2f2f2;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.right-footer {
    width: 80%;
    align-items: flex-end;
}

.left-footer{
    width: 20%;
}


.right-footer ul {
    justify-content: flex-end;
    margin-right: .5;
}

.right-footer li {
    padding-right: .6em;
}






