body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
    font-size: .875rem;
}

a:hover,
a:focus {
    text-decoration: underline;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .6em;
}

ul {
    display: flex;
    list-style: none;
    padding: 0
}

.left-header {
    width: 20%;
}
.right-header {
    width: 80%;
    flex-wrap: nowrap;
}

.right-header ul {
    justify-content: flex-end;
    align-items: center;
}
li {
    padding-left: .6rem;
}

.profile-pic{
    border-radius: 50%; 
    width: 2.25em; 
    height: 2.25em;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 272px;
}
.search {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    width: 45%;
}

.input-contatiner{
    display: flex;
    align-items: center;
    border: 1px solid #dfe1e5;
    border-radius: 26px;
    width: 90%;
    margin: 2em 0;
    padding-left: .75em;
    height: 2.75em;
}

.input-contatiner:hover{
    box-shadow: 2px 2px 5px #dfe1e5;
}

.input-contatiner input{
    background: none;
    margin-left: .75em;
    flex-basis: fit-content;
}

.search-icon{
    width: 1.25em;
}

.buttons {
    align-self: center;
}

.footer {
    display: flex;
    background: #f2f2f2;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.right-footer {
    align-self: flex-end;
}




