body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
    font-size: .875rem;
}

a:hover,
a:focus {
    text-decoration: underline;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .6em;
}

ul {
    display: flex;
    list-style: none;
    padding: 0
}

.left-header {
    width: 20%;
}
.right-header {
    width: 80%;
    flex-wrap: nowrap;
}

.right-header ul {
    justify-content: flex-end;
    align-items: center;
}
li {
    padding-left: .6rem;
}

.profile-pic{
    border-radius: 50%; 
    width: 2.25em; 
    height: 2.25em;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 272px;
}
.search {

}
.space {
    flex-grow: 1;
}

.footer {
    display: flex;
    background: #f2f2f2;
    align-items: center;
    justify-content: space-between;
}


